<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dw.mapper.AskLeaveMapper">
    <select id="getAskLeaveList" resultType="AskLeave">
        select * from ask_leave
    </select>
    <select id="getAskLeaveById" resultType="AskLeave">
        select * from ask_leave where LEAVE_ID=#{leaveId}
    </select>
    <insert id="addAskLeave" parameterType="AskLeave">
        insert into ask_leave(LEAVE_ID,USER_ID,USER_NAME,START_DATE,END_DATE,RESSON,LEAVE_STATUS)
        values (#{LeaveId},#{UserId},#{UserName},#{StartDate},#{EndDate},#{Resson},#{LeaveStatus})
    </insert>
    <delete id="deleteAskLeaveById">
        delete from ask_leave where LEAVE_ID=#{leaveId}
    </delete>
    <update id="updateAskLeaveById" parameterType="AskLeave">
        update ask_leave set USER_ID=#{UserId},USER_NAME=#{UserName},START_DATE=#{StartDate},END_DATE=#{EndDate},RESSON=#{Resson},LEAVE_STATUS=#{LeaveStatus}
        where LEAVE_ID=#{LeaveId}
    </update>

</mapper>