<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dw.mapper.MaUserMapper">
    <select id="queryMaUserList" resultType="MaUser">
        select *from ma_user
    </select>
    <select id="queryMaUserById" resultType="MaUser">
        select *from ma_user where user_id=#{userId}
    </select>
    <insert id="addMaUser" parameterType="MaUser">
        insert into ma_user (USER_ID,USER_NAME,PASSWD,LAST_UPDATE_DT,LAST_UPDATE_USER,CLASSID)
        values (#{userId},#{userName},#{passwd},#{lastUpdateDt},#{lastUpdateUser},#{classid})
    </insert>
    <delete id="deleteMaUser">
        delete from ma_user where USER_ID=#{userId}
    </delete>
    <update id="updateMaUser">
        update ma_user set
        USER_NAME=#{userName},PASSWD=#{passwd},LAST_UPDATE_DT=#{lastUpdateDt},
        LAST_UPDATE_USER=#{lastUpdateUser},CLASSID=#{classid}
        where USER_ID=#{userId}
    </update>
    <select id="getRole" resultType="String">
        select ROLE_DESC from ma_role where ROLE_ID=
        (select ROLE_ID from ma_user_role where USER_ID=#{userId})
    </select>
</mapper>