<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dw.mapper.StuattendanceMapper">
    <select id="getStuattendanceList" resultType="Stuattendance">
        select * from stuattendance
    </select>
    <select id="getStuattendanceById" parameterType="int" resultType="Stuattendance">
        select * from stuattendance where ATTENDANCE_ID=#{attendanceId}
    </select>
    <select id="getStuattendanceByUserId" parameterType="String" resultType="Stuattendance">
        select * from stuattendance where USER_ID=#{userId}
    </select>
    <insert id="addStuattendancele" parameterType="Stuattendance">
        insert into stuattendance (USER_ID,COURSEID,CLASSROOMID,DATE_DAY,ATTEN_STATUS)
        values (#{UserId},#{Courseid},#{Classroomid},#{DateDay},#{AttenStatus})
    </insert>
    <delete id="deleteStuattendanceById" parameterType="int">
        delete from stuattendance where ATTENDANCE_ID=#{attendanceId}
    </delete>
    <update id="updateStuattendanceById" parameterType="Stuattendance">
        update stuattendance set USER_ID=#{UserId},COURSEID=#{Courseid},CLASSROOMID=#{Classroomid},DATE_DAY=#{DateDay},ATTEN_STATUS=#{AttenStatus}
        where ATTENDANCE_ID=#{AttendanceId}
    </update>
    <select id="getClassAttendance" resultType="Attendance">
        select sum(case when t.CLASSID='71'and t.ATTEN_STATUS='出勤' then 1 else 0 end)*1.0/count(t.CLASSID='71' OR NULL) as num71,
        sum(case when t.CLASSID='72'and t.ATTEN_STATUS='出勤' then 1 else 0 end)*1.0/count(t.CLASSID='72' OR NULL) as num72,
        sum(case when t.CLASSID='81'and t.ATTEN_STATUS='出勤' then 1 else 0 end)*1.0/count(t.CLASSID='81' OR NULL) as num81,
        sum(case when t.CLASSID='82'and t.ATTEN_STATUS='出勤' then 1 else 0 end)*1.0/count(t.CLASSID='82' OR NULL) as num82,
        sum(case when t.CLASSID='91'and t.ATTEN_STATUS='出勤' then 1 else 0 end)*1.0/count(t.CLASSID='91' OR NULL) as num91
        from (select  b.CLASSID,a.ATTEN_STATUS from stuattendance a ,ma_user b where a.USER_ID=b.USER_ID) t
    </select>
</mapper>